* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  padding-top: 50px;
  
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  
  background-color: black;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding-top: 20px;
  padding-left: 50px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  height: 100%;
  
  margin-left: 250px;
  padding-left: 50px;
 
  padding-right: 50px;
  padding-bottom: 0px;
 
    
}

.content h1 {
	color: white;
	font-size: 40px;

}

.content h2 {
	color: white;
	font-size: 30px;

}

.content p {
	color: white;
	font-size: 25px;

}

.content img {
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

/* Zoom images on hover */

.content img:hover {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
  position: static;
  z-index: 1;
}

